.node--type-article{
    .container{
        width: 75%;
    }
    .breadcrumb{
        background-color: #eef2f2;
    }
    .field--type-image{
        width: 40%;
        height: 40%;
    }
    .image-style-wide{
        width: 80%;
        height: 80%;
    }
    p{
        font-size: 1em;
    }

}